<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [2]:
print(my_dict['name']) #This would output: 'John'.

John

# Defining a dict

In [3]:
# You create an empty dictionary using {}
my_dict = {}
print(my_dict, type(my_dict)) #{} <class 'dict'>

my_dict = dict()
print(my_dict, type(my_dict)) #{} <class 'dict'>

{} <class 'dict'>
{} <class 'dict'>

#Create a dict

In [4]:
# Create a dictionary of integer keys
my_dict = {1:"one",2:"two",3:"three",4:"four"}
print(my_dict) #{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

# Creating dictionary with mixed keys
my_dict1 = {1:"One","age":21, "marks": [90,89,80],7.0: "seven"}
print(my_dict1) #{1: 'One', 'age': 21, 'marks': [90, 89, 80], 7.0: 'seven'}

# using dict
my_tuple =  ((1,"one"),(2,"two"),(3,"three"))
my_dict2 = dict(my_tuple)
print(my_dict2) #{1: 'one', 2: 'two', 3: 'three'}

my_dict3 = dict({"name":"Sam", "age": 21})
print(my_dict3) #{'name': 'Sam', 'age': 21}

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'One', 'age': 21, 'marks': [90, 89, 80], 7.0: 'seven'}
{1: 'one', 2: 'two', 3: 'three'}
{'name': 'Sam', 'age': 21}

In [6]:
daily_temps1 = {'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}
print(daily_temps1)

#OUTPUT: {'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

{'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

In [5]:

my_dict = dict(("name":"Sam", "age": 21))
print(my_dict) #{'name': 'Sam', 'age': 21}

SyntaxError: invalid syntax (<ipython-input-5-31c0a7e423cf>, line 1)

In [7]:
daily_temps = dict()
daily_temps['mon'] = 35
daily_temps['tue'] = 29
daily_temps['wed'] = 38
daily_temps['thu'] = 40
daily_temps['fri'] = 37
print(daily_temps)

#OUTPUT: {'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

{'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

In [8]:
daily_temps3 = dict(mon=35, tue=29, wed=38, thu=40, fri=37)
print(daily_temps3)

#OUTPUT: {'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

{'mon': 35, 'tue': 29, 'wed': 38, 'thu': 40, 'fri': 37}

Type Coversion

In [9]:
#list of tuples to dict
list_of_tuples = [(1, 'apple'), (2, 'grapes')]
dictionary = dict(list_of_tuples)
print(dictionary)  #{1: 'apple', 2: 'grapes'}

{1: 'apple', 2: 'grapes'}

In [11]:
#converting two lists to dict
keys = [1, 2]
values = ['apple', 'grapes']
dictionary = dict(zip(keys, values))
print(dictionary) #{1: 'apple', 2: 'grapes'}

{1: 'apple', 2: 'grapes'}

In [13]:
#list to dict
list = ['apple', 'grapes']
dictionary = {i: list[i] for i in range(0, len(list))}
print(dictionary) #{0: 'apple', 1: 'grapes'}

{0: 'apple', 1: 'grapes'}

In [15]:
#tuples to dict
tuples = ((1, 'apple'), (2, 'grapes'))
dictionary = dict(tuples)
print(dictionary)  #{1: 'apple', 2: 'grapes'}

{1: 'apple', 2: 'grapes'}

Accessing elements

In [17]:
# If the key doesn't exist [] bracket will raise an error
my_dict = {'Name': 'Zara', 'Age': 7}
print("my_dict['Name']: ", my_dict['Name']) #my_dict['Name']: Zara

my_dict['Name']:  Zara

In [18]:
print("city = ",my_dict['name']) # key error ,case-sensetive

KeyError: 'name'

In [20]:
# get() methods: If the key doesn't exist will return none
my_dict = {'Name': 'Zara', 'Age': 7}
print("my_dict.get('Age'): ", my_dict.get('Age')) #my_dict.get('Age'): 7

my_dict.get('Age'):  None

In [22]:
# get() methods: If the key doesn't exist will return none
my_dict = {'Name': 'Zara', 'Age': 7}
print("my_dict.get('Age1'): ", my_dict.get('Age1')) #my_dict.get('Age'): 7

my_dict.get('Age1'):  None

In [24]:
my_dict = {'Name': 'Zara', 'Age': 7}
for key, value in my_dict.items():
	print(key, value)

Name Zara
Age 7

In [25]:
my_dict = {'Name': 'Zara', 'Age': 7}
for key in my_dict.keys():
	print(key)

Name
Age

In [26]:
my_dict = {'Name': 'Zara', 'Age': 7}
for value in my_dict.values():
	print(value)

Zara
7

#Modify the elements

In [27]:
my_dict = {'name': 'Uttam', 'age': 35}
my_dict['age'] = 40
print(my_dict) #{'name': 'Uttam', 'age': 40}

{'name': 'Uttam', 'age': 40}

In [28]:
my_dict= {'name': 'Uttam', 'age': 35}
my_dict.update({'age': 40})
print(my_dict) #{'name': 'Uttam', 'age': 40}

{'name': 'Uttam', 'age': 40}

In [29]:
#remove method
my_dict = {1:"Amy",2:"Ben",3:"dave",4:"Eva",5:"Sara"}
print(my_dict)  #{1:"Amy",2:"Ben",3:"dave",4:"Eva",5:"Sara"}

# passing the key value
print(my_dict.pop(2)) #Ben
print(my_dict) #{1: 'Amy', 3: 'dave', 4: 'Eva', 5: 'Sara'}

# key is mandatory in pop function
print(my_dict.pop()) # TypeError: pop expected at least 1 argument, got 0

# If key doesn't exist
print(my_dict.pop(10))  #KeyError

{1: 'Amy', 2: 'Ben', 3: 'dave', 4: 'Eva', 5: 'Sara'}
Ben
{1: 'Amy', 3: 'dave', 4: 'Eva', 5: 'Sara'}

TypeError: pop expected at least 1 argument, got 0

In [30]:
#popitem
# using popitem()
my_dict = {1:"Amy",2:"Ben",3:"dave",4:"Eva",5:"Sara"}

print(my_dict.popitem()) #(5, 'Sara')
print(my_dict) #{1: 'Amy', 2: 'Ben', 3: 'dave', 4: 'Eva'}

(5, 'Sara')
{1: 'Amy', 2: 'Ben', 3: 'dave', 4: 'Eva'}

In [31]:
#clear
# remove all elements
my_dict = {1:"Amy",2:"Ben",3:"dave",4:"Eva",5:"Sara"}
print(my_dict) #{1: 'Amy', 2: 'Ben', 3: 'dave', 4: 'Eva', 5: 'Sara'}

my_dict.clear()
print(my_dict) #{}

# popitem will give me error if the dict is empty
print(my_dict.popitem()) # KeyError: 'popitem(): dictionary is empty'

{1: 'Amy', 2: 'Ben', 3: 'dave', 4: 'Eva', 5: 'Sara'}
{}

KeyError: 'popitem(): dictionary is empty'

Membership operators
in and not in

In [32]:
dict1 = {'name': 'John', 'age': 30, 'job': 'developer'}

# Check if 'name' is a key in the dictionary
print('name' in dict1)  # Output: True

# Check if 'salary' is not a key in the dictionary
print('salary' not in dict1)  # Output: True

True
True

Activity

In [33]:
#create dict 'batches' with foloowing data
batches={'Java':34,'SAP':25,'Testing':30,'Python':22}
print(batches)

{'Java': 34, 'SAP': 25, 'Testing': 30, 'Python': 22}

In [34]:
#display all the keys in dict batches
print(batches.keys())

dict_keys(['Java', 'SAP', 'Testing', 'Python'])

In [35]:
#display all values
print(batches.values())

dict_values([34, 25, 30, 22])

In [37]:
print(batches.get('Java'))
print(batches.get('SAP'))
print(batches.get('Testing'))
print(batches.get('Python'))

34
25
30
22