<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# example of a list
my_list = ['apple', 'banana', 'cherry']

In [2]:
# create an empty list
my_list = []
print(my_list)

my_list1 = list()
print(my_list1)

[]
[]

In [3]:
# create a list of integers
my_list = [1,2,3,4,5]
print(my_list) #[1,2,3,4,5]

 #create a list using list() method
my_list = list([1,2,3,4,5])
print(my_list)#[1,2,3,4,5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [4]:
# creaate a list of mixed data types
my_list = ["Sara", 21, 34.14]
print(my_list) #["Sara", 21, 34.14]

['Sara', 21, 34.14]

In [5]:
# A list can contain another list, tuple, set
my_list = ["Sara", 21,[1,2,3,4],('a','b','c'),{'x','y'}]
print(my_list) #["Sara", 21,[1,2,3,4],('a','b','c'),{'x','y'}]

['Sara', 21, [1, 2, 3, 4], ('a', 'b', 'c'), {'y', 'x'}]

In [7]:
#string to list
my_string = "Hello World"
my_list = list(my_string)
print(my_list) #['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [8]:
#tuple to list
my_tuple = ("John", "Doe", 30)
my_list = list(my_tuple)
print(my_list) #['John', 'Doe', 30]

['John', 'Doe', 30]

In [9]:
#set to list
my_set = {"Apple", "Banana", "Cherry"}
my_list = list(my_set)
print(my_list) #['Apple', 'Banana', 'Cherry']

['Banana', 'Cherry', 'Apple']

In [10]:
my_set = {"Apple", "Banana", "Cherry","Apple"}
my_list = list(my_set)
print(my_list)

['Banana', 'Cherry', 'Apple']

In [11]:
#dict to list
my_dict = {"name": "John","age": 30,"city": "New York"}
my_list = list(my_dict)
print(my_list) #['name', 'age', 'city']

['name', 'age', 'city']

In [16]:
my_dict = {"name": "John","age": 30,"city": "New York"}
print(my_dict.items())
my_list = list(my_dict.items())
print(my_list) #[('name', 'John'), ('age', 30), ('city', 'New York')]

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])
[('name', 'John'), ('age', 30), ('city', 'New York')]

In [17]:
my_dict = {"name": "John","age": 30,"city": "New York"}
my_list = list(my_dict.values())
print(my_list)

['John', 30, 'New York']

# Iterate through a list

In [18]:
my_list = ['apple', 'banana', 'cherry']
for item in my_list:
  print(item)

apple
banana
cherry

In [24]:
my_list = [1,2,3,4,5,6]
new_list = []
for i in my_list:
  if i%2 ==0:
   new_list.append(i)
print(new_list)

[2, 4, 6]

In [25]:
my_list= ['apple', 'banana', 'cherry']
print(my_list[0])  # Output: apple
print(my_list[1])  # Output: banana
print(my_list[2])  # Output: cherry

apple
banana
cherry

In [26]:
my_list= ['apple', 'banana', 'cherry']
print(my_list[-1])  # Output: cherry
print(my_list[-2])  # Output: banana
print(my_list[-3])  # Output: apple
print(my_list [-len(my_list)]) # Output: apple

cherry
banana
apple
apple

In [28]:
my_list = [23,34,45,5,6,67,78,89]

#we cannot use float values for indexing - Type error
#print(my_list[4.0])

#index out of range - index error
print(my_list[20])

IndexError: list index out of range

In [29]:
#create a nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
nested_list[0]

[1, 2, 3]

In [35]:
print(nested_list[0][0])
print(nested_list[0][1])
print(nested_list[0][2])
nested_list[0][2] = 10
print(nested_list)

1
2
10
[[1, 2, 10], [4, 5, 6], [7, 8, 9]]



1.  my_list[start:stop]  # extracts items from start up to but not including, the index stop.
2.my_list[start:]      # extracts items from start through the rest of the array
3.my_list[:stop]       # extracts items from the beginning not including, the index stop.
4.my_list[:]           # a copy of the whole array

In [36]:
num_list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(num_list[0:5])  # Output: [0, 1, 2, 3, 4]
print(num_list[5:])   # Output: [5, 6, 7, 8, 9]
print(num_list[:5])   # Output: [0, 1, 2, 3, 4]
print(num_list[:])    # Output: [0, 1, 2 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
num_list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(num_list[-5:-1])   # Output: [5, 6, 7, 8]
print(num_list[:-6])     # Output: [0, 1, 2, 3]

[5, 6, 7, 8]
[0, 1, 2, 3]

In [42]:
print(num_list[::2])     # Output: [0, 2, 4, 6, 8]
print(num_list[1::2])    # Output: [1, 3, 5, 7, 9]

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [44]:
# Create a list
my_list = ['apple', 'banana', 'cherry']

# Modify the second element (index 1)
my_list[1] = 'blueberry'
# Now, my_list is ['apple', 'blueberry', 'cherry']
print(my_list)

['apple', 'blueberry', 'cherry']

In [45]:
# Define a list
my_list = [1, 2, 3, 4, 5]
# Modify elements from index 1 to 3
my_list[1:4] = ['two', 'three', 'four']
# Print the modified list
print(my_list) # output : [1, 'two', 'three', 'four', 5]

[1, 'two', 'three', 'four', 5]

In [46]:
# Create a list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
# Sort the list
my_list.sort()
# Print the sorted list
print(my_list) # output: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [48]:
my_list.sort(reverse=True)
print(my_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [49]:
list_of_strings = ['Hello', 'Goodbye', 'Yes', 'No', 'Maybe']
sorted_list = sorted(list_of_strings, key=len)
print(sorted_list)
# Output: ['No', 'Yes', 'Maybe', 'Hello', 'Goodbye']

['No', 'Yes', 'Hello', 'Maybe', 'Goodbye']

In [50]:
list_of_strings = ['Hello', 'Goodbye', 'Yes', 'No', 'Maybe']
sorted_list = list_of_strings.sort()
print(sorted_list)
# Output: ['No', 'Yes', 'Maybe', 'Hello', 'Goodbye']

None

In [51]:
list_of_strings = ['Hello', 'Goodbye', 'Yes', 'No', 'Maybe']
sorted_list = sorted(list_of_strings, key=len,reverse=True)
print(sorted_list)
# Output: ['No', 'Yes', 'Maybe', 'Hello', 'Goodbye']

['Goodbye', 'Hello', 'Maybe', 'Yes', 'No']

# List methods

In [58]:
#append
list1 = [1, 2, 3]
list1.append(4)
print(list1)
# Output: [1, 2, 3, 4]
list2= [1, 2, 3]
list2.append([4, 5, 6])
print(list2)
# Output: [1, 2, 3, [4, 5, 6]]

[1, 2, 3, 4]
[1, 2, 3, [4, 5, 6]]

In [56]:
#insert
list1 = [1, 2, 3]
list1.insert(1, 'a')
print(list1)
# Output: [1, 'a', 2, 3]

[1, 'a', 2, 3]

In [57]:
#extend
list1 = [1, 2, 3]
list1.extend([4, 5, 6])
# Output: [1, 2, 3, 4, 5, 6]
print(list1)

[1, 2, 3, 4, 5, 6]

In [59]:
#Concat operator
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1 = list1 + list2
# Output: [1, 2, 3, 4, 5, 6]
print(list1)

[1, 2, 3, 4, 5, 6]

** List Comprehension**

Python provides compact syntax for delivering one list from another.

[expression for item in iterable]

In [60]:
list1 = [x for x in range(10)]
# Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Deletion methods

In [61]:
# remove element from the list
my_list = [12,13,14,15,16,14]
print(my_list) #[12,13,14,15,16,14]

my_list.remove(14)
print(my_list) #[12,13,15,16,14]

[12, 13, 14, 15, 16, 14]
[12, 13, 15, 16, 14]

In [62]:
# pop method
# pop method remove the item at the given index
# if you dont pass the index value , by default the index value will be -1
# Remove and return the element

my_list = [12,13,14,15,16]
print(my_list)

print(my_list.pop(2)) #14
print(my_list) #[12, 13, 15, 16]

print(my_list.pop())#16
print(my_list) #[12, 13, 15]

[12, 13, 14, 15, 16]
14
[12, 13, 15, 16]
16
[12, 13, 15]

In [63]:
# clear() - used for clearing all the elements in the list or empty the list
my_list = [12,13,14,15,16]
my_list.clear()

print(my_list) #[]

[]

In [65]:
my_list = [12,13,14,15,16]
del my_list
# print(my_list) #NameError: name 'my_list' is not defined

In [66]:
my_list= ['apple', 'banana', 'cherry']
index = my_list.index('cherry')
print(index)  # Output: 2

2

In [67]:
my_list= ['apple', 'banana', 'cherry', 'apple']
count = my_list.count('apple')
print(count)  # Output: 2

2

In [68]:
my_list = ['cherry', 'banana', 'apple']
my_list.sort()
print(my_list)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [69]:
my_list= ['apple', 'banana', 'cherry']
my_list.reverse()
print(my_list)  # Output: ['cherry', 'banana', 'apple']

['cherry', 'banana', 'apple']

In [70]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Use max method
maximum = max(my_list)

# Use sum method
total = sum(my_list)

print('The maximum number is:', maximum)
print('The total sum is:', total)

The maximum number is: 5
The total sum is: 15

In [71]:
My_list=[101,201,301,401]
My_list.append(501)
print(My_list)

[101, 201, 301, 401, 501]

In [72]:
My_list

[101, 201, 301, 401, 501]

In [75]:
my_list=My_list + [601]
print(my_list)

[101, 201, 301, 401, 501, 601]

In [76]:
my_list.insert(2,777)
print(my_list)

[101, 201, 777, 301, 401, 501, 601]

In [79]:
my_list=[i for i in my_list]
print(my_list)

[101, 201, 777, 301, 401, 501, 601]

In [80]:
for i in my_list:
  print(i)

101
201
777
301
401
501
601