<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# for loop iterate through a string
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [2]:
#for loop  iterate through a list
vowels = ['a','e','i','o','u']
print(type(vowels))

for val in vowels:
    print(val)

<class 'list'>
a
e
i
o
u

In [3]:
#for loop iterate through a range of values

for i in range(11): # start index 0
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
#for loop iterate through a range of values
# start index - inclusive , end index - exclusive
# by default incrementing by 1

for i in range(5, 16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [13]:
#for loop iterate through a range of values

for i in range(30, 0,-1):  # decrementing by 1
    print(i)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
# for loop
vowels = ['a','e','i','o','u']

print("list length= ",len(vowels))

# for loop will only iterate through a sequence
for i in range(len(vowels)):  # range(5)
    print(i," value= ",vowels[i])

list length=  5
0  value=  a
1  value=  e
2  value=  i
3  value=  o
4  value=  u

In [15]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

# Break and Continue

In [16]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
for num in range(1, 10):
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9

In [18]:
#while loop
count = 0

while True:
    count += 1

    if count > 10:
        break    # exit the loop when count exceeds 10
    if count == 5:
        continue  # skip the rest of the loop for count is 5

    print(count)

1
2
3
4
6
7
8
9
10

In [19]:
for i in range(3):       # First or outer loop
    for j in range(3):   # Second or inner loop
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [20]:
# Nested loop
print("Nested loop")
for i in range(5):
    for j in range(10):
        print("index: ",i, " value = ",j)

Nested loop
index:  0  value =  0
index:  0  value =  1
index:  0  value =  2
index:  0  value =  3
index:  0  value =  4
index:  0  value =  5
index:  0  value =  6
index:  0  value =  7
index:  0  value =  8
index:  0  value =  9
index:  1  value =  0
index:  1  value =  1
index:  1  value =  2
index:  1  value =  3
index:  1  value =  4
index:  1  value =  5
index:  1  value =  6
index:  1  value =  7
index:  1  value =  8
index:  1  value =  9
index:  2  value =  0
index:  2  value =  1
index:  2  value =  2
index:  2  value =  3
index:  2  value =  4
index:  2  value =  5
index:  2  value =  6
index:  2  value =  7
index:  2  value =  8
index:  2  value =  9
index:  3  value =  0
index:  3  value =  1
index:  3  value =  2
index:  3  value =  3
index:  3  value =  4
index:  3  value =  5
index:  3  value =  6
index:  3  value =  7
index:  3  value =  8
index:  3  value =  9
index:  4  value =  0
index:  4  value =  1
index:  4  value =  2
index:  4  value =  3
index:  4  value =  4
index:  4  value =  5
index:  4  value =  6
index:  4  value =  7
index:  4  value =  8
index:  4  value =  9

In [21]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [23]:
for i in range(3):
  for j in range(3):
    for k in range(3):
      print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

In [33]:
i=1
while i in range(1,25):
  i+=1
  if i%2==0:
    print("even num : ",i)

even num :  2
even num :  4
even num :  6
even num :  8
even num :  10
even num :  12
even num :  14
even num :  16
even num :  18
even num :  20
even num :  22
even num :  24

In [34]:
for i in range(1,25):
  if i%2==0:
    print("even num : ",i)

even num :  2
even num :  4
even num :  6
even num :  8
even num :  10
even num :  12
even num :  14
even num :  16
even num :  18
even num :  20
even num :  22
even num :  24

In [39]:
i=1
factorial=1
while i in range(1,5):
  i+=1
  factorial*=i
  print(factorial)

2
6
24
120

In [41]:
factorial=1
for i in range(1,5):
  factorial*=i
  print(factorial)

1
2
6
24