<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def greet(name):
"""
This function greets the person passed in as parameter
"""
print("Hello, " + name + ". Good morning!")
# Calling function
greet('John')

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-1-db5d4172f74b>, line 2)

user defined function(UDF)

In [2]:
def function_name(parameters):
    '''docstring'''
    statement(s)

In [3]:
function_name(parameters)

NameError: name 'parameters' is not defined

In [8]:
  # Write our own functions

def sayHello(name): # function defination
    # function body
    print(f"Your name is {name}")
    return f"Your name is {name}"

#calling a function
sayHello("Uttam")

#calling a function
return_val = sayHello("Uttam")
print("return value: ", return_val) # None

Your name is Uttam
Your name is Uttam
return value:  Your name is Uttam

Doc string

In [5]:
def add_numbers(a, b):
    """
    This function adds two numbers and returns the result.

    Parameters:
    a (int): The first number to add
    b (int): The second number to add

    Returns:
    int: The result of adding a and b
    """
    return a + b

In [6]:
print(add_numbers.__doc__)

    This function adds two numbers and returns the result.

    Parameters:
    a (int): The first number to add
    b (int): The second number to add

    Returns:
    int: The result of adding a and b

In [7]:
def multiple(x, y):
    return x * y   #return an expression

result = multiple(5, 3)
print(result)  # Output: 15

15

Function Arguments


*   Required arguments
*   defailt args
*   keyword args
*   variable length args

In [9]:
#Required args
def greet(name):
    print(f'Hello, {name}')
greet('Alice')  # 'Alice' is a required argument.

Hello, Alice

In [10]:
#default args
def greet(name='User'):
    print(f'Hello, {name}')
greet()  # No argument supplied, so uses default value 'User'.

Hello, User

In [11]:
#keyword args
def describe_pet(animal_type, pet_name):
    print(f"I have a {animal_type} and its name is {pet_name}")
describe_pet(pet_name='Harry', animal_type='hamster')  # Order of arguments is changed.

I have a hamster and its name is Harry

In [12]:
#varilable length args *args
# *args (Non Keyword Arguments)
def greet(*names):
    for name in names:
        print(f'Hello, {name}')
greet('Alice', 'Bob', 'Charlie')  # Passes multiple arguments.

Hello, Alice
Hello, Bob
Hello, Charlie

In [13]:
#**kwargs
# **kwargs (Keyword Arguments)
def greet(**names):
	for key, value in names.items():
		print("{0} = {1}".format(key, value))

greet(first_name="Alice", last_name="Smith") # Multiple keyword arguments can be passed.

first_name = Alice
last_name = Smith

Order of function args


*   Required args: these are the args passed to a function in correct positional order.the number of args in the function call should match exactly with the function definition.
*   Default args: a default arg is an arg that assumes a default value if a value is not provided in the function call for that arg.
*   Keyword args:keyword args are related to the function calls. when you use keyword args in a function call ,the caller identifies the args by the param value
*   variable length args: you may need to process a function for more args than you specified while defining the function . these args are called variable length args and are not named in the function definition.

In [15]:
def function_name(required_args,
	default_args=value, *variable_args, **keyword_args):
  statement(s)

NameError: name 'value' is not defined

In [16]:
def example_function(req_arg, def_arg="default", *var_args, **kw_args):
    print("Required argument: ", req_arg)
    print("Default argument: ", def_arg)
    print("Variable arguments: ", var_args)
    print("Keyword arguments: ", kw_args)

# Calling function
example_function("required", "test", 1, 2, 3, key1="value1", key2="value2")

Required argument:  required
Default argument:  test
Variable arguments:  (1, 2, 3)
Keyword arguments:  {'key1': 'value1', 'key2': 'value2'}

Recursive function
The function call itself.

In [18]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

factorial(5)

120

Scope of the variable
  The scope of the variable refers to the region within the code where a variable is avaialble for use.

1.   Local scope:A var defined inside a function belongs to the local scope of that function , and can only be used inside that function
2.   Enclosed scope: this occurs when a function is inside another function (nested functions).varbls that are not local in the inner function and not global are put in the enclosed scope.
3.   Global scope: A varb defined outside all function definitions is a global var,and it is accessible from any function in the code.
4.   Built-in scope: these are special names that python reserves and provides built-in functions like print(),open() etc.they are always avaialble for use.

Note: Remember pythons "LEGB" rule defines the sequence in which these scopes are searched for varb names.it first looks in the local scope(L),then in the Enclosed scope(E),next in the global scope(G),and finally in the built-in scope(B).

In [19]:
#local scope
def func():
	x = 7
	print(x)


func()

7

In [20]:
#enclosed scope
def outer_func():
	x = 20
	def inner_func():
		print(x) # this is using x from the enclosed scope, i.e., outer_func

	inner_func()


outer_func()

20

In [21]:
#global scope
x = 10

def func():
	print(x) # this will print the global x


func()

10

In [22]:
#scope of the variable

#global variable
x = "global"
def changeGlobal():
    global x
    x = 10  # gloabl
    y = 20  # local var
    print("Inside function x = ", x)

print(" before call Outside function x = ",x)
changeGlobal()
print("after call Outside function x = ",x)

 before call Outside function x =  global
Inside function x =  10
after call Outside function x =  10

In [23]:
# global
g_var ='global'

def myFun():
    global g_var1
    global g_var2
    g_var1 = 'sam'
    g_var2 ="Joe"
    print("inside myfun: ",g_var, g_var1, g_var2) # inside myfun:  global sam Joe

def yourFun():
    global g_var1
    global g_var2
    g_var1 = "sam-changed"
    g_var2 = "joe-changed"
    print("inside your yourFun: ", g_var, g_var1, g_var2) #inside yourFun:  global sam-changed joe-changed

myFun()
yourFun()
print("outside function : ",g_var, g_var1, g_var2) #outside function :  global sam-changed joe-changed

inside myfun:  global sam Joe
inside your yourFun:  global sam-changed joe-changed
outside function :  global sam-changed joe-changed

In [24]:
print("Hello, World!") # here, print is a built-in function

Hello, World!

Lambda Functions
It is a small anonymous function without a name.It can take any number of args but can only have one expression.
Syntax: lambda args: expression

In [25]:
x = lambda a : a + 10
print(x(5))  # This will output 15

15

Built-in Functions


1.   Filter(): this function constructs an iterator from elements of an iterable for which a function returns true.
2.   Map(): this function applies a given function to all items in an input list.
3.   reduce():This function is a part of the 'functools' module and is used to apply a particular function passed in its argument to all of the list elements.


Remember lambda functions are not capable of multiple expressions and can only handle single expressions.they also lack documentation strings and cannot be directly invoked.

In [1]:
# Using filter()
lst = [1, 2, 3, 4, 5]
filtered_list = filter(lambda x: x%2 == 0, lst)
print(list(filtered_list)) # Output: [2, 4]

[2, 4]

In [2]:
# Using map()
lst = [1, 2, 3, 4, 5]
mapped_list = map(lambda x: x**2, lst)
print(list(mapped_list)) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [3]:
# Using reduce()
from functools import reduce
lst = [1, 2, 3, 4, 5]
reduced_value = reduce(lambda x, y: x*y, lst)
print(reduced_value) # Output: 120

120

Activity

In [4]:
#Develop a python script to display factorial of a number
# a. Execute the code from command prompt
# b.Number should be passed as an argument from command line

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [5]:
factorial(5)

120

In [7]:
# write a function sum of squares of digits that computes the sum of the squares of the digits of an integer passed to it.

def sum_of_squares(n):
    sum = 0
    while n > 0:
        digit = n % 10
        sum += digit ** 2
        n //= 10
    return sum

In [8]:
sum_of_squares(123)

14

In [9]:
1%10

1

In [10]:
2%10

2

In [11]:
123//10

12

In [12]:
123%10

3