<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/Python_basics_operators_types_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('welcome to python!!!')

welcome to python!!!

# Variable
It is a name given to memory location

# keywords
These are reserved words whose meaning has already been explained to the interpreter

In [2]:
a=10
print(a)
id(a)

10

132889775161872

In [3]:
a=20
print(a)
id(a)

20

132889775162192

In [4]:
x,y,z=10,'aadvika',3.14
print(x)
print(y)
print(z)

10
aadvika
3.14

In [5]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [6]:
id(a)
id(b)
id(c)

132889775161872

# Statement
these are the instructions that can be executed when written in REPl or inserted into a script.

script contains sequence of statements.

# Comment
comments marked with # symbol
#single statement
a=10

In [7]:
# Multiline statement (\) , () , [] , {}
# line continuation character
a = 1+2+3+\
4+5+6+\
7+8+9
print(a)

45

In [8]:
# Multiline statement (\) , () , [] , {}
# line continuation character

b = (1+2+3+
    4+5+6+
    7+8+9)
print(b)

45

In [9]:
# Multiline statement (\) , () , [] , {}
# line continuation character

b = [10+2+3+
    4+5+6+
    7+8+9]
print(b)

[54]

In [10]:
# Numeric literals (immutable - which cannot be changed)
a = 10
print("a = ",a)              # value
print("Type = ", type(a))    # data type
print("id =",id(a))          # memory address

a = 20
print("a = ",a)              # value
print("Type = ", type(a))    # data type
print("id =",id(a))          # memory address

a =  10
Type =  <class 'int'>
id = 132889775161872
a =  20
Type =  <class 'int'>
id = 132889775162192

In [11]:
#integer (decimal, binary, octal, hexadecimal)

n1 = 100    # decimal base 10

n2 = 0b100  # 0b, 0B binary base 2

n3 = 0o100  # 0o , 0O , octal base 8

n4 = 0x100  # 0x, 0X , hexadecimal base 16

print("n1 =",n1)
print("n2 =",n2)
print("n3 =",n3)
print("n4 =",n4)

n1 = 100
n2 = 4
n3 = 64
n4 = 256

In [12]:
# float
f1 = 3.14
print("f1 = ",f1)         # value
print("type= ",type(f1))  # data type
print("id =", id(f1))     # memory address

f2 = 1.5e-4     #  1.5 * 10 ^ 4
print("f2 = ",f2)
print("type= ",type(f2))
print("id =",id(f2))

f1 =  3.14
type=  <class 'float'>
id = 132888493891632
f2 =  0.00015
type=  <class 'float'>
id = 132888493890704

In [13]:
# complex data type
z = 1 + 2j

print("z = ",z)          # value
print("type= ",type(z))  # data type
print("id =",id(z))      # memory address
print("real = ",z.real)  # real
print("imag = ",z.imag)  # imaginary

z =  (1+2j)
type=  <class 'complex'>
id = 132888493892176
real =  1.0
imag =  2.0

In [14]:
# Boolean literals (True or False)
# True = 1
# False = 1

x  = (True == 1)
print("x= ",x)
y = (False ==0)
print("y= ",y)

x=  True
y=  True

In [15]:
a = True + 4    # 5
b = False + 4   # 4
print ("a= ",a)
print("b =",b)

a=  5
b = 4

In [16]:
# Special literals

name = None   #
print("name =",name)
print("type = ",type(name))

name = None
type =  <class 'NoneType'>

In [17]:
# String literals
s1 = "string with double quotes"
s2 = 'string with single quotes'

print("s1 =",s1)
print("s2 =",s2)

print("type(s1) =", type(s1))
print("type(s2) =",type(s2))

s1 = string with double quotes
s2 = string with single quotes
type(s1) = <class 'str'>
type(s2) = <class 'str'>

In [19]:
# multipleline strings
# """ multiple line of strings"""
# ''' multiple lines'''

#str1 = "This is\       # \ line continuation character
#multiline example\ in python"

#print(str1)

str1 = """This is
a multiline
example"""
print(str1)

str1 = '''This is
a multiline
example'''

print(str1)

This is
a multiline
example
This is
a multiline
example

# Collection literals
list,tuple,sets,dictionary

In [20]:
# list
# insersion order, duplicate values, mutable datatype

names = ["sam",21,"eva", 3.14,"sam"]
print(names)
print(type(names))

#mutable datatype
names[0] ="Uttam"
print(names)

['sam', 21, 'eva', 3.14, 'sam']
<class 'list'>
['Uttam', 21, 'eva', 3.14, 'sam']

In [21]:
#tuple
# insersion order, duplicate values, immutable datatype

names = ("Sam",12,"Joe",3.14)
print(names)
print(type(names))

# names[0] ='Uttam'
# print(names)

('Sam', 12, 'Joe', 3.14)
<class 'tuple'>

In [22]:
# set
# no duplicates values , no insertion order

persons = {"sam",21,"eva", "amy","sam"}
print(persons)
print(type(persons))

{'eva', 21, 'sam', 'amy'}
<class 'set'>

In [23]:
# dictionary
# key : value pair

emp = {"id":1234,"name":"Sara","age":21}
print(emp)
print(type(emp))

print(emp["name"], emp["id"])

{'id': 1234, 'name': 'Sara', 'age': 21}
<class 'dict'>
Sara 1234

In [24]:
#implicit conversion
a = 10
b= 5.5
c = a + b
print("a =",a, type(a))
print("b =",b, type(b))
print("c =",c, type(c))

a = 10 <class 'int'>
b = 5.5 <class 'float'>
c = 15.5 <class 'float'>

In [25]:
# explict conversion
a = 10
b= "two"
c = str(a) + b
print("a =",a, type(a))
print("b =",b, type(b))
print("c =",c, type(c))

a = 10 <class 'int'>
b = two <class 'str'>
c = 10two <class 'str'>

In [26]:
# 2. explicit type conversion

# convert int to float
f1 = float(10)
print("f1= ",f1)

# convert float to int
num1 = int(3.14)
print("num1= ",num1)

f1=  10.0
num1=  3

In [27]:
# Explicit typeconversion
# convert str to int and int to string

# int to str
s1 = str(10)
print("s1= ",s1, type(s1))

# str to int
n1 = int('10')
print("n1= ",n1, type(n1))

s1=  10 <class 'str'>
n1=  10 <class 'int'>

In [28]:
# conver str to float and flaot to string
f1 = float("15.123")
print("f1= ",f1, type(f1))

s1 = str("15.123")
print("n1= ",s1, type(s1))

f1=  15.123 <class 'float'>
n1=  15.123 <class 'str'>

In [31]:
input([prompt])

NameError: name 'prompt' is not defined

In [30]:
name = input("Enter your name: ")
print(f"Hello, {name}")

Enter your name: Aadvika
Hello, Aadvika

In [33]:
age = input("Enter the age: ")
print(f"Hello, {age}")
print(type(age))

Enter the age: 2
Hello, 2
<class 'str'>

In [34]:
N = 7

7 + 5

5.2 , “this”, 4-2, “that”, 5/2.0

SyntaxError: invalid character '“' (U+201C) (<ipython-input-34-c95a1de38dbf>, line 5)

In [37]:
>>> x = input()
type(x)

3.14

str

In [38]:
>>> x = input()

'The knights who say "ni!"'

'\'The knights who say "ni!"\''

In [39]:
x

'\'The knights who say "ni!"\''

In [41]:
a='All'
b=' work'
c=' and'
d=' no'
e=' play'
f=' makes'
g=' jack a'
h=' dull boy'

print(a+b+c+d+e+f+g+h)

All work and no play makes jack a dull boy

# Operators

In [42]:
x = 15
y = 4

print("x + y = ", x+y) # 19
print("x - y = ", x-y) # 11
print("x * y = ", x*y) # 60
print("x / y = ", x/y) # 3.75
print("x // y = ", x//y) # 3
print("x % y = ", x%y) #3
print("x ** y = ", x**y) #

x + y =  19
x - y =  11
x * y =  60
x / y =  3.75
x // y =  3
x % y =  3
x ** y =  50625

In [43]:
# interger division
print(3//2)  #1   3/2 = 1.5  1
print(-3//2) #-2  -3/2 = -1.5  = -2

1
-2

In [44]:
# PEMDAS - parenthesis, exponent, multiply, divide, addition, substration

print(-1 + (3 **2 + (4 - 1)))

11

In [45]:
# Operation on strings
# (+) - concatenation
# (*) - repititions

str1 = "Uttam "
print(str1 + "Kumar") # appended

print( str1 * 4) #repetition
r = str(1) + "hello"
print(r)

Uttam Kumar
Uttam Uttam Uttam Uttam
1hello

In [46]:
# Comparision operators

x = 10
y = 12

print('x= ',x)
print('y= ',y)

print(x>y) # False
print(x<y) # True
print(x==y) # False
print(x!=y) # True
print(x >= y) # False
print(x <= y) # True

x=  10
y=  12
False
True
False
True
False
True

In [47]:
x = 5
print(x > 3 and x < 10)

True

In [48]:
x = 5
print(x > 3 or x < 4)

True

In [49]:
x = 5
print(not(x > 3 and x < 10))

False

In [50]:
# Example : Logical operators
x = True
y = False

print("x= ",x)
print("y= ",y)

print(x and y)  # False
print(x or y)   # True
print(not x)    # False
x = 5; y = 3

x=  True
y=  False
False
True
False

In [51]:
# Switch operator: and
if (x > 5 and y > 1):
    y = y + 1

print(x , y) # 5 , 3

# Switch operator: or
x = 5; y = 3
if x > 5 or  y > 1:
    y = y + 1

print(x , y) # 5, 4

5 3
5 4

In [52]:
# Assignment Operators

# operator =
x = 5
print('operator x = 5: ',x)

x = 5
x += 5
print('operator x += 5: ',x) # 10

x = 5
x -= 5
print('operator x -= 5: ',x) # 0

x = 5
x *= 5
print('operator x *= 5: ',x) # 25

x = 5
x /= 5
print('operator x /= 5: ',x) # 1.0

x = 5
x //= 5
print('operator x //= 5: ',x) # 1

x = 5
x %= 5
print('operator x %= 5: ',x) # 0

x = 5
x **= 5
print('operator x **= 5: ',x) #3125

operator x = 5:  5
operator x += 5:  10
operator x -= 5:  0
operator x *= 5:  25
operator x /= 5:  1.0
operator x //= 5:  1
operator x %= 5:  0
operator x **= 5:  3125