<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining a set

In [1]:
my_set = {"apple", "banana", "cherry"}
my_set

{'apple', 'banana', 'cherry'}

In [3]:
my_set = set(["apple", "banana", "cherry"])
my_set

{'apple', 'banana', 'cherry'}

Creation of set

In [4]:
# create an empty set
my_set = {}
print(my_set, type(my_set))

# create an empty set
my_set = set()
print(my_set, type(my_set))

{} <class 'dict'>
set() <class 'set'>

In [5]:
# set of integers
my_set = {31,12,43,4} # unordered collection
print(my_set, type(my_set))

# set of mixed data type
my_set1 = {"Sara", 21, 34.5}
print(my_set1)

# tuple within a set
my_set2 = {"Sara", 21, 34.5,(1,2,3)}
print(my_set2)

# cannot pass list within a set
my_set3= {"Sara", 21, 34.5,[1,2,3]} #TypeError: unhashable type: 'list'
print(my_set3)

{43, 12, 4, 31} <class 'set'>
{'Sara', 34.5, 21}
{'Sara', (1, 2, 3), 34.5, 21}

TypeError: unhashable type: 'list'

In [6]:
# set cannot have duplicates
# convert list to set

my_set = {1,2,3,4,1,2,5}
print(my_set, type(my_set)) #{1, 2, 3, 4, 5} <class 'set'>

{1, 2, 3, 4, 5} <class 'set'>

In [7]:
myset = {"apple", "banana", "cherry"}

#Loop through the set
for x in myset:
	print(x)

#Check if "banana" is in the set
print("banana" in myset)

banana
apple
cherry
True

Iterating

In [8]:
my_set = {"Apple", "Banana", "Cherry"}

for item in my_set:
    print(item)

Banana
Cherry
Apple

# Type conversion

In [10]:
#list to set
list1 = [1, 2, 3, 4, 5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [11]:
#tuple to set
tuple1 = (1, 2, 3, 4, 5)
set1 = set(tuple1)
print(set1)

{1, 2, 3, 4, 5}

In [12]:
#string to set
str1 = "Hello"
set1 = set(str1)
print(set1)

{'l', 'o', 'e', 'H'}

In [13]:
#dict to set
dict1 = {'key1': 1, 'key2': 2, 'key3': 3}
set1 = set(dict1)
print(set1)

{'key1', 'key3', 'key2'}

In [14]:
dict1 = {'key1': 1, 'key2': 2, 'key3': 3}
set1 = set(dict1.items())
print(set1)

{('key1', 1), ('key3', 3), ('key2', 2)}

In [15]:
dict1 = {'key1': 1, 'key2': 2, 'key3': 3}
set1 = set(dict1.values())
print(set1)

{1, 2, 3}

# Methods in set

In [16]:
myset = {1, 2, 3}
myset.add(4)
print(myset)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [17]:
myset = {1, 2, 3}
myset.update([4, 5, 6])
print(myset)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [18]:
myset = {1, 2, 3}
myset.remove(2)
print(myset)  # Output: {1, 3}

my_set.remove(5)  #KeyError
print(my_set)

{1, 3}

KeyError: 5

In [20]:
myset = {1, 2, 3}
myset.discard(2)
print(myset)  # Output: {1, 3}

# discard an element which doen't exist
my_set.discard(5)
print(myset)

#discard method works like remove but it wont throw any error if value doesnot exists

{1, 3}
{1, 3}

In [21]:
myset = {1, 2, 3}
myset.clear()
print(myset)  # Output: set()

set()

# Member ship operators
In and notin

In [22]:
set1 = {1, 2, 3, 4, 5}
print(3 in set1)   # Output: True

True

In [23]:
set1 = {1, 2, 3, 4, 5}
print(6 not in set1)  # Output: True

True

# Set Operations


*   Union (|)
*   Intersection (&)
*   difference (-)
*   symmetric difference (^)

In [24]:
#union operator
A ={1,2,3,4,5}
B = {4,5,6,7,8}

# use | operator
print(A|B)  #{1, 2, 3, 4, 5, 6, 7, 8}
print(B|A)  #{1, 2, 3, 4, 5, 6, 7, 8}

# use `union()` method
print(A.union(B)) #{1, 2, 3, 4, 5, 6, 7, 8}
print(B.union(A)) #{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
# Set intersection
# common in both the sets
# & operator
# intersection()

A ={1,2,3,4,5}
B = {4,5,6,7,8}

# use & operator
print(A&B) #{4, 5}
print(B&A) #{4, 5}

# use intersection() method
print(A.intersection(B)) #{4, 5}
print(B.intersection(A)) #{4, 5}

{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [26]:
# Set difference (A-B) or (B - A)
# - operator
# difference
A ={1,2,3,4,5}
B = {4,5,6,7,8}

# Use - operator
print(A-B) #{1, 2, 3}
print(B-A) #{8, 6, 7}

# Use difference meth
print(A.difference(B)) #{1, 2, 3}
print(B.difference(A)) #{8, 6, 7}

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

In [27]:
# Symetric difference
# Elements which are in A and B but not in both
# ^ operator
# symmetric_difference
A ={1,2,3,4,5}
B = {4,5,6,7,8}

print(A^B) #{1, 2, 3, 6, 7, 8}
print(B^A) #{1, 2, 3, 6, 7, 8}

print(A.symmetric_difference(B)) #{1, 2, 3, 6, 7, 8}
print(B.symmetric_difference(A)) #{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [28]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

result = A.issubset(B)
print(result)  # Output: True

True

In [29]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}

result = A.issuperset(B)
print(result)  # Output: True

True

In [32]:
A = {1, 2, 3, 4, 5}
#B = {1, 2, 3}

result = A.issuperset([1,2,3])
print(result)  # Output: True

True

In [34]:
A = {1, 2, 3, 4, 5}
#B = {1, 2, 3}

result = A.issuperset((1,2,3))
print(result)  # Output: True

True