<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# create strings

my_string = "Python"
print(my_string)

# triple quotes
my_string = """python"""
print(my_string)

my_string = '''python'''
print(my_string)

my_string = """ This
is a
multiline
string"""

print(my_string)

my_string = ''' This
is a
multiline
string '''
print(my_string)

Python
python
python
 This
is a
multiline
string
 This
is a
multiline
string

In [7]:
# unicode characters
my_string = u"\u00e5ccenture"
print(my_string)

# hex representation of unicode
my_string = '\xe5'
print(my_string)

# octal reprentation of unicode
my_string = '\345'
print(my_string)

# raw strings
raw_string = r"This is raw \n string "
print(raw_string)

åccenture
å
å
This is raw \n string

In [8]:
# int to string

s1 = str(10)
print(s1, type(s1))

# Similarly, to convert a float into a string, you can also use the str() function.
s1 = str(3.14)
print(s1 , type(s1))

10 <class 'str'>
3.14 <class 'str'>

In [9]:
my_string = "python"
for chr in my_string:
    print(chr)

p
y
t
h
o
n

In [10]:
my_string = 'python'
for chr in my_string:
    print(chr, end=' ')

p y t h o n

In [11]:
my_string = 'python'
for chr in my_string:
    print(chr, end=',')

p,y,t,h,o,n,

In [12]:
my_string = 'python'
for chr in my_string:
    print(chr, end='@')

p@y@t@h@o@n@

In [13]:
my_string = 'python'
for i in range(len(my_string)):
    print(i, " = ", my_string[i])

0  =  p
1  =  y
2  =  t
3  =  h
4  =  o
5  =  n

In [14]:
# Access the characters in a string

# The character index starts from 0 in Python.
my_string = 'python'
print(my_string[0])

p

In [15]:
print(my_string[-1])
print(my_string[len(my_string) - 1])

n
n

In [16]:
# slicing start index - inclusive, end index - exclusive
my_string = "Hello, World!"
print(my_string [7:12])  # Outputs: World

World

In [17]:
my_string = "Hello, World!"
print(my_string[-6:-1])  # Outputs: World

World

In [19]:
my_string = "Hello, World!"
print(my_string[12])  # Outputs: World

!

In [25]:
my_string = "Hello, World!"
print(my_string[:])  # Outputs: World

Hello, World!

In [21]:
my_string = "Hello, World!"
print(my_string[:-1])  # Outputs: World

Hello, World

In [26]:
my_string = "Hello, World!"
print(my_string[7:])  # Outputs: World!
print(my_string[:5])  # Outputs: Hello

World!
Hello

In [27]:
my_string = "Hello, World!"
print(my_string[::2])  # Outputs: Hlo ol!

Hlo ol!

In [28]:
my_string = "Hello, World!"
print(my_string[::-1])  # Outputs: Hlo ol!

!dlroW ,olleH

In [29]:
# Index must be integer values
print(my_string[2.0])   # error

#Index must be in range
print(my_string[7]) # IndexError: string index out of range

TypeError: string indices must be integers

In [30]:
#Index must be in range
print(my_string[7:]) # IndexError: string index out of range

World!

In [31]:
my_string= "Hello"
print(my_string)  # Output: Hello

# Reassigning a new value to str1
my_string= "World"
print(my_string)  # Output: World

Hello
World

In [32]:
my_string= "Hello"
my_string[0] = "M"  # This will give TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [33]:
my_string = "Hello"
new_string = "M" + my_string[1:]  # Create a new string with the desired modification
print(new_string)  # Output: Mello

Mello

In [34]:
# Delete a string

del my_string[0]
print(my_string) # TypeError: 'str' object doesn't support item deletion

TypeError: 'str' object doesn't support item deletion

In [39]:
my_string = "Hello, World!"
new_str = my_string.replace("World", "") # Call replace on the string instance 'my_string'
print(new_str) # Output: Hello, !

Hello, !

In [40]:
my_string = "Hello, World!"
del my_string

# NameError: name 'my_string' is not defined
print(my_string)

NameError: name 'my_string' is not defined

# Concatenation and repetition

In [41]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2  # Adds a space between the strings
print(result)  # Outputs: Hello World

Hello World

In [43]:
string = "Hello "
result = string * 3  # Repeats the string 3 times
print(result)  # Outputs: HelloHelloHello

Hello Hello Hello

In [44]:
# concatenation and repeatitions

s1 = "Hello "
s2 = "World"

# '+' to concatenate two strings
print(s1 + s2)

# repeating using *

print(s1 * 3)

Hello World
Hello Hello Hello

In [46]:
#writing two string togethers

s1 = "Hello"  " World"
print(s1)

# ()

s1 = ("Hello "
    "world")
print(s1)

Hello World
Hello world

**Memeber ship operatoros**
In and notin

In [47]:
my_string = "python"

print("p" in my_string )  # Outputs: True
print("P" not in my_string )  # Outputs: True (case sensitive)

True
True

In [48]:
# String methods
my_string ="python Programming"

# lower case
print(my_string.lower())

# upper
print(my_string.upper())

#capitalize
print(my_string.capitalize())

#title
print(my_string.title())

# split()
my_string = "Python;is;awesome"
print(my_string.split(';'))

python programming
PYTHON PROGRAMMING
Python programming
Python Programming
['Python', 'is', 'awesome']

In [51]:
# String methods
my_string ="python Programming"

# strip case
print(my_string.strip())

# upper
print(my_string.replace('Programming','Language'))

#join
print(my_string.join(','))

#find
print(my_string.find('Programming'))

#count
print(my_string.count('p'))

# startswith()
my_string = "Python is awesome"
print(my_string.startswith('p'))  # Outputs: True
print(my_string.endswith('e'))  # Outputs: True

python Programming
python Language
,
7
1
False
True

In [52]:
# prompt: join method in strings

# Example 1: Joining a list of strings
words = ["Hello", "world", "!"]
joined_string = " ".join(words)
print(joined_string)  # Output: Hello world !

# Example 2: Joining a tuple of strings
colors = ("red", "green", "blue")
joined_colors = ", ".join(colors)
print(joined_colors)  # Output: red, green, blue

# Example 3: Joining strings with a custom separator
numbers = ["1", "2", "3", "4"]
separator = "-"
joined_numbers = separator.join(numbers)
print(joined_numbers)  # Output: 1-2-3-4

# Example 4: Joining elements of a set
unique_letters = {'a', 'b', 'c'}
joined_letters = ''.join(unique_letters)
print(joined_letters)  # Output: (Order may vary since sets are unordered)

# Example 5: Joining characters of a string
message = "Python"
joined_chars = "_".join(message)
print(joined_chars)  # Output: P_y_t_h_o_n

Hello world !
red, green, blue
1-2-3-4
acb
P_y_t_h_o_n

**Formating**

In [56]:
age = 10
name ="Uttam"

print("Age = %d"%age)
print("Name = %s"%name)

print("%s is %d years old." % (name, age))
print("{} is {} years old.".format(name,age))
print(f"{name} is {age} years old.")

Age = 10
Name = Uttam
Uttam is 10 years old.
Uttam is 10 years old.
Uttam is 10 years old.

In [54]:
# default
print("Today you will get {}, {}, and {}".format('bread','butter','jam'))

#positional

print("Today you will get {2}, {1}, and {0}".format('bread','butter','jam'))

# keyword
print("Today you will get {b}, {a}, and {c}".format(a='bread',b='butter',c='jam'))

Today you will get bread, butter, and jam
Today you will get jam, butter, and bread
Today you will get butter, bread, and jam

In [57]:
name = "John"
print(f"Hello, {name}!")

Hello, John!