<a href="https://colab.research.google.com/github/HemalathaY-Prog/Python_GenAI_LCI/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_tuple = (1, 2, 3, 'Python')
print(my_tuple)  # output: (1, 2, 3, 'Python')

(1, 2, 3, 'Python')

In [3]:
my_list=tuple()
print(my_list)

()

In [6]:
print(my_tuple[0])  # Output: 1
print(my_tuple[2])  # Output: 3

1
3

In [7]:
my_tuple[1] = 'A'   # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [8]:
# Create an empty tuple
my_tuple = ()
print(my_tuple, type(my_tuple))

my_tuple1 = tuple()
print(my_tuple1, type(my_tuple1))

() <class 'tuple'>
() <class 'tuple'>

In [9]:
# Create Tuple having integer
my_tuple = (1,2,3,4)
print(my_tuple)

# Create Tuple with mixed data types
my_tuple1 = ("Sara",21,34.5)
print(my_tuple1)

# Create Nested tuple
my_tuple2 = ('Sara',21,3.14, [1,2,3],(4,5,6),{7,8},{"eid":1001,"name":"Uttam"})
print(my_tuple2)

(1, 2, 3, 4)
('Sara', 21, 34.5)
('Sara', 21, 3.14, [1, 2, 3], (4, 5, 6), {8, 7}, {'eid': 1001, 'name': 'Uttam'})

In [10]:
# tuple can be created without parenthesis()
# # parenthesis is optional

my_tuple = 1, 'sara', 34.5
print(my_tuple, type(my_tuple))

(1, 'sara', 34.5) <class 'tuple'>

In [11]:
#list to tuple
my_list = [1, 2, 3, 4]
print(tuple(my_list)) #output (1, 2, 3, 4)

(1, 2, 3, 4)

In [12]:
#set to tuple
my_set = {1, 2, 3, 4}
print(tuple(my_set)) #output (1, 2, 3, 4)

(1, 2, 3, 4)

In [13]:
#dict to tuple
my_dict = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
print(tuple(my_dict)) #output (1, 2, 3, 4)

(1, 2, 3, 4)

In [14]:
my_dict = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
print(tuple(my_dict.items())) #output (1, 2, 3, 4)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

In [15]:
my_dict = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
print(tuple(my_dict.values())) #output (1, 2, 3, 4)

('a', 'b', 'c', 'd')

In [16]:
my_dict = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
print(tuple(my_dict.keys())) #output (1, 2, 3, 4)

(1, 2, 3, 4)

# Packing and unpacking

In [17]:
packed_tuple = ("iSpring", "AI", 2022)
print(packed_tuple)

('iSpring', 'AI', 2022)

In [19]:
company, product, year = packed_tuple
print(company)
print(product)
print(year)

iSpring
AI
2022

# Tuple with single element
# **single tone**

In [24]:
#By using a trailing comma
x = (50,)
print(type(x))  # Outputs: <class 'tuple'>

# parenthesis is optional,
my_tuple = "python",
print(my_tuple, type(my_tuple))

<class 'tuple'>
('python',) <class 'tuple'>

In [21]:
#by using tuple function
x = tuple([50])
print(type(x))  # Outputs:

<class 'tuple'>

In [25]:
# without trailing comma
my_tuple = (10.5)
print(my_tuple, type(my_tuple)) #output float value

10.5 <class 'float'>

# Iteration

In [28]:
# define the tuple
my_tuple = ('apple', 'banana', 'cherry')
# iterate using a for loop
for i in my_tuple:
  print(i)

apple
banana
cherry

In [29]:
for i in range(len(my_tuple)):
    print(f"index = {i} and value = {my_tuple[i]}")

index = 0 and value = apple
index = 1 and value = banana
index = 2 and value = cherry

In [30]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])  # Output: apple
print(my_tuple[2])  # Output: cherry

apple
cherry

In [31]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[-1])  # Output: cherry
print(my_tuple[-3])  # Output: apple

cherry
apple

#Netsed tuple

In [32]:
# creating a nested tuple
nested_tuple = ("apple", ("banana", "cherry"))
print(nested_tuple)

nested_tuple[1][0] #output `"banana"

('apple', ('banana', 'cherry'))

'banana'

# Slicing

In [33]:
#Positive indexing
myTuple = ('Python', 'Java', 'C++', 'JavaScript', 'Ruby')
print(myTuple[1:4]) # Output: ('Java', 'C++', 'JavaScript')

('Java', 'C++', 'JavaScript')

In [34]:
#negative indexing
myTuple = ('Python', 'Java', 'C++', 'JavaScript', 'Ruby')
print(myTuple[-4:-1]) # Output: ('Java', 'C++', 'JavaScript')

('Java', 'C++', 'JavaScript')

In [35]:
#skipping elements
myTuple = ('Python', 'Java', 'C++', 'JavaScript', 'Ruby')
print(myTuple[::2]) # Output: ('Python', 'C++', 'Ruby')

('Python', 'C++', 'Ruby')

In [36]:
#reverse slicing
myTuple = ('Python', 'Java', 'C++', 'JavaScript', 'Ruby')
print(myTuple[::-1]) # Output: ('Ruby', 'JavaScript', 'C++', 'Java', 'Python')

('Ruby', 'JavaScript', 'C++', 'Java', 'Python')

In [37]:
num_tuple= (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(num_tuple[0:5])  # Output: [0, 1, 2, 3, 4]
print(num_tuple[5:])   # Output: [5, 6, 7, 8, 9]
print(num_tuple[:5])   # Output: [0, 1, 2, 3, 4]
print(num_tuple[:])    # Output: [0, 1, 2 3, 4, 5, 6, 7, 8, 9]

(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)
(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Modifing elements

In [38]:
my_tuple = (1,2,3,4)
my_tuple[0] = 7  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [40]:
#tuples are immutable but lists inside tuples are mutable
tuple1 = (1, 2, ["apple", "banana"])
tuple1[2][0] = "grape"
print(tuple1)  # output (1, 2, ['grape', 'banana'])

#in this example although we cannot directly change the content of the tuple,we can modify the mutable element(a list) inside tuple.

(1, 2, ['grape', 'banana'])

# 2D tuple

In [41]:

# Creating a 2D tuple
tup_2d = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tup_2d)

# Accessing elements
print(tup_2d[0])    # Output: (1, 2, 3)
print(tup_2d[1][2]) # Output: 6

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
6

**Tuple Methods**

In [42]:
#count
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = tuple.count(5)
print(x)

2

In [43]:
#index
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = tuple.index(8)
print(x)

3

#Membership operators
In and Notin

In [44]:
tuple = (1, 2, 3, 4, 5)
print(3 in tuple)  # Output: True
print(6 in tuple)  # Output: False

True
False

In [45]:
tuple = (1, 2, 3, 4, 5)
print(3 not in tuple) # Output: False
print(6 not in tuple) # Output: True

False
True

# Activity

In [47]:
# 1. Unpack the list and assign 101,201,777 to v1,v2,v3 respectively.
my_tuple=(101,201,777)
v1,v2,v3=my_tuple
print(type(v1))
print(v1,v2,v3)

<class 'int'>
101 201 777

In [48]:
#create a tuple having the last 3 elements of the list
my_tuple=(1,2,3,4,5,6,7,8,9)
print(my_tuple[-3:])

(7, 8, 9)